<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.aoren.LanguageAidCMI</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>LCMI</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>4ab06288-56a4-11dc-8314-0800200c9a66</key>
		<string>LanguageAidCMIFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>2F6522E9-3E66-11D5-80A7-003065B300BC</key>
		<array>
			<string>4ab06288-56a4-11dc-8314-0800200c9a66</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
</dict>
</plist>
